form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  background-color: transparent;
}
input[type="text"],
input[type="email"],
textarea {
  border: none;
  border-radius: 0.25rem;
  padding: 0.75rem;
  outline: none;
  display: block;
  width: 100%;
  font-size: 1rem;
  line-height: 1;
  background-color: transparent;
}

textarea{
  resize: none;
}

input[type="submit"]{
  background-color: #37B7C3;
  border: none;
  padding: 1rem;
  color: white;
  &:hover{
    cursor: pointer;
    background-color: #088395;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset; 
  -webkit-text-fill-color: black;
}

.form-container h2 {
  margin-bottom: 1rem;
}
